.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatWindow {
  background-color: white;
  padding: 0.1em 0.01em;
  height: 100%;
  width: 100%;
}
.chatWindow p {
  color: #111111;
}
